@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100&display=swap');

:root {
--Soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
--Dark-blue-photography-text: hsl(198, 62%, 26%);
--Dark-moderate-cyan-footer: hsl(168, 34%, 41%);

/* ### Neutral */

--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);

/* typography */
--font-size: 18px;
--font-barlow: 'Barlow', sans-serif;
--font-fraunces: 'Fraunces', serif;
--font-weight-bold: 900;
--font-weight-semibold: 700;
}

/* Reset */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Structure */

body {
    width: 100%;
    font-size: var(--font-size);
}

main {
    width: 100%;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 150px;
    padding: 2.5em;
}

header img {
    width: 200px;
}

header nav {
    list-style: none;
    display: flex;
    color: var(--White);
    font-family: var(--font-barlow);
}

header nav li {
    margin-left: 2.5em;
    display: inline-block;
    display: flex;
    align-self: center;
    font-size: 1.3em;
    cursor: pointer;
}

header nav button {
    color: black;
    border: none;
    background-color: var(--White);
    text-transform: uppercase;
    font-family: var(--font-fraunces);
    font-weight: var(--font-weight-semibold);
    font-size: 18px;
    border-radius: 2em;
    padding: 1.2em 2em;
    margin-left: 3.1em;
    cursor: pointer;
}

/* sections */

/* section 1 */

.full-height-intro {
    background-image: url(./images/desktop/image-header.jpg);
    height: 100vh;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-title {
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 6em;
    transform: translateY(-8em);
}

.intro-title h1 {
    color: var(--White);
    text-transform: uppercase;
    font-size: 3.5em;
    font-family: var(--font-fraunces);
    letter-spacing: 15px;
    text-align: center;
}

.intro-title img {
    width: 40px;
    margin: 0 auto;
    cursor: pointer;
}

/* section 2 */

.transform-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.transform-block img {
    width: 100%;
}

.stand-out-block {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.stand-out-block img {
    width: 100%;
}

.block-inner-content  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left !important;
    padding: 3.6em 0;
    text-align: center;
}

.margin-right {
   margin-right: 4em;
}

.margin-left {
   margin-left: 6em;
}

.block-inner-content div {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.block-inner-content div h2 {
    font-size: 2.6em;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-fraunces);
}

.block-inner-content div p {
    font-family: var(--font-barlow);
    line-height: 1.7em;
}

.block-inner-content div a {
    text-transform: uppercase;
    font-family: var(--font-fraunces);
    font-weight: var(--font-weight-bold);
    text-decoration: underline var(--Soft-red) 8px;
    cursor: pointer;
}

 /* section 2.3  */

 .design-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }

 .graphic-block {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    height: 685px;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .photography-block {
    background-image: url(./images/desktop/image-photography.jpg);
    height: 685px;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .design-block div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1.7em 0;
 }

 .design-block div div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2.5em;
    text-align: center;
    width:480px
 }

 .design-block div div h3 {
    font-family: var(--font-fraunces);
    font-size: 2em;
 } 

 .design-block div div p {
    font-family: var(--font-barlow);
    font-size: 1em;
    line-height: 1.7em;
 } 

 /* section 4 */

 .testimonials {
    background-color: var(--White);
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8.6em;
 }

 .testimonials h4 {
    font-family: var(--font-fraunces);
    color: var(--Dark-grayish-blue);
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 4px;
 }

 .testimonial-row {
    display: flex;
    width: 75%;
    gap: 1.5em;
 }

 .testimonial-user {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 2em;
 }
 .testimonial-user img {
    width: 85px;
    border-radius: 50%;
 }

 .testimonial-user p {
    font-family: var(--font-barlow);
    line-height: 1.7em;
    font-weight: 500;
 }

 .testimonial-user h5 {
    font-family: var(--font-fraunces);
    font-weight: var(--font-weight-bold);
    color: black;
    font-size: 1.1em;
    margin-bottom: 1em;
 }

 .testimonial-user h6 {
   color: var(--Dark-grayish-blue);
 }

 .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 520px;
 }

 .gallery-1 {
    background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }

 .gallery-2 {
    background-image: url(./images/desktop/image-gallery-orange.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }

 .gallery-3 {
    background-image: url(./images/desktop/image-gallery-cone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }

 .gallery-4 {
    background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }

 /* footer */

 footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
    background-color: rgb(138,210,195);
 }

 footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 footer div nav {
   margin-top: 1em;
    list-style: none;
    font-size: 22px;
    display: flex;
    gap: 3em;
    color: var(--Dark-desaturated-cyan-graphic-design-text);
    font-family: var(--font-barlow);
 }

 footer div nav li {
   cursor: pointer;
 }

 footer div nav li:hover {
   color: var(--White);
 }

 .social-icons {
   margin-top: 5em;
    display: flex;
    flex-direction: row;
    gap: 1.8em;
 }

 .social-icons a svg {
   cursor: pointer;
 }

 .social-icons a svg:hover > path {
   fill: var(--White);
 }


 /* utilities */

 .hidden {
   display: none;
 }

 @media (max-width: 700px) {
   header {
      padding: 1em;
      height: 120px;
   }
   .logo {
      width: 180px;
   }
   .menu-nav {
      display: none;
   }
   .menu-icon-mobile {
      display: block;
      width: 35px;
   }
   .full-height-intro {
      background-image: url(./images/mobile/image-header.jpg);
      min-height: 100vh;
      background-size: cover;
      background-position: bottom ;
   }
   .intro-title {
      font-size: 0.7em;
      font-weight: var(--font-weight-bold);
   }
   .transform-block {
      grid-template-columns: 1fr;
   }
   .block-inner-content {
      width: 80%;
      margin: 0 auto;
      text-align: center !important;
   }
   .block-inner-content h2 {
      font-size: 2.4em;
   }
   .transform-block img {
      order: 1;
      background-image: url(./images/mobile/image-transform.jpg);
   }
   .transform-block div {
      order: 2;
   }
   .stand-out-block {
      grid-template-columns: 1fr;
   }
   .stand-out-block img {
      background-image: url(./images/mobile/image-stand-out.jpg);
   }
   .design-block {
      grid-template-columns: 1fr;
   }
   .graphic-block {
      background-image: url(./images/mobile/image-graphic-design.jpg);
      height: 100vh;
   }
   .photography-block {
      background-image: url(./images/mobile/image-photography.jpg);
      background-position: bottom;
      height: 100vh;
   }
   .design-block div div p {
      width: 80%;
   }
   .testimonials {
      height: 100%;
      padding: 4em 0;
      gap: 4em;
   }
   .testimonial-row {
      flex-direction: column;
      gap: 3.5em;
   }
   .gallery {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2,1fr);
   }
   .gallery-1 {
      background-image: url(./images/mobile/image-gallery-milkbottles.jpg);
      height: auto;
      width: auto;
   }
   .gallery-2 {
      background-image: url(./images/mobile/image-gallery-orange.jpg);
      height: auto;
      width: auto;
   }
   .gallery-3 {
      background-image: url(./images/mobile/image-gallery-cone.jpg);
      height: auto;
      width: auto;
   }
   .gallery-4 {
      background-image: url(./images/mobile/image-gallery-sugar-cubes.jpg);
      height: auto;
      width: auto;
   }
   .margin-left {
      margin-left: 0;
   }
   .margin-right {
      margin-right: 0;
   }
 }
